/*Começo do global*/
*{
    list-style: none;
    text-decoration: none;
}

body, ul, li p   {
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 50px;
}

a{
    color: white;
}

img{
    max-width: 100%;
    display: block;
}
/*Fim global*/

/* Inicio  Flex das img */
.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1690px;
    margin: 0 auto;
    margin-bottom: 10px;
    gap: 20px;
    padding: 10px;
}

/*conversando com a div dentro do GRID1*/
/*Primeria forma escolhendo a div diretamente*/
/* .grid1 > div:nth-child(1){
    background: blue;
}
 */
 .grid1 > div:nth-child(1){
     grid-column: 1;
     grid-row:  1 / 2;
  
}
    
    
/*Segunda forma dizendo que apartir de tal div ele vai fazer algo*/
.grid1 > div:nth-child(2){
    display: grid;
    grid-template-columns: 60%;
    grid-column: 3;
    grid-row: 1;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.grid1 > div:nth-child(3){
    display: grid;
    grid-template-columns: 60%;
    grid-column: 2;
    grid-row: 1;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* Fim   Flex das img */


/* Incio Menu 1 */
.menu_1{
    max-width: 1690px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
    justify-content: space-evenly;
    background: #1d1e20;
}

.menu-1{
    display: flex;
    flex-wrap: wrap;
}

.menu-1 li{
    margin-left: 12px;
    background: #ccc;
    border-radius: 6px;
    padding: 7px;
}

.menu-1 li a{
    display: block;
    padding: 5px;
}


/* Fim Menu 1 */

/* Inicio menu-2*/
.flex-2{
    background: cornsilk;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1690px;
    padding: 10px;
    margin: 0 auto;
}

.flex-2 > div{
    flex: auto;
    margin: 0 10px;
}

.flex-2 img{
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.menu-2{
    width: 130px;
    display: block;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
}

.menu-2 li{
    display: block;
    background: palegoldenrod; 
    margin-top: 5px;
    padding: 5px;
}

.menu-2 li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: purple;

}


/* Fim menu-2*/

/* Footer*/
footer{
    max-width: 1710px;
    display: block;
    margin: 0 auto;
    flex-wrap: wrap;
    background: #1d1e20;
    color: white;
}

#footer p{
    margin: 0 auto;
    text-align: center;
}


/* Footer*/


/*Incio media query*/
@media(max-width: 1296px) {
    /* Inicio menu-2*/
.flex-2{
    align-items: center;
    max-width: 1290px;
    padding: 10px;
    margin: 0 auto;
}
.flex-2 img{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-height: 600px;
    max-width: 700px;
    }

    .grid1{
        padding: 10px;
    }
}

@media(max-width: 981px){
    .grid1{
        display: block;
        padding: 10px;
    }

    .grid1 > div{
        margin: 10px;
    }

    .menu-2 {
        display: flex;
        flex-wrap: wrap;
        
    }
    .menu-2 nav{
        display: block;
        width: 500px;
        margin: 0 auto;
    }
    
    .menu-2 img{
        display: block;
        width: 500px;
        margin: 0 auto;
    }
}

@media(max-width: 680px){
    .menu_1{
        width: 95%;
    }
    .menu-1{
        display: block;
        width: 90%;
    }

    .menu-1 li{
        width: 95%;
        margin-top: 10px;
    }
    .menu-1 li a{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* Fim media query*/